$mobile-min: 288px;
$mobile-under: 427px;
$mobile: 428px;
$tablet-under: 767px;
$tablet: 768px;
$desktop-under: 1157px;
$desktop: 1158px;

@mixin mobile-under {
    @media screen and (max-width: $mobile-under) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet-under {
    @media screen and (max-width: $tablet-under) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop-under {
    @media screen and (max-width: $desktop-under) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}