.footer {
    padding: 90px 0;
    background-color: var(--dark);
    @include tablet{
        padding: 95px 0;
    }
    @include desktop{
        padding: 100px 0;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 72px;
        text-align: center;
        padding: 0 16px;
        
        @include tablet{
            justify-content: start;
            align-items: flex-start;
            text-align: left;
            padding: 0 108px;
        }

        @include desktop{
            gap: 80px;
            flex-direction: row;
            padding: 0 156px;
        }                
    }
    &__box-dual {
        display: flex;
        flex-direction: column;
        gap: 72px;

        @include tablet{
            gap: 24px;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
        }
        @include desktop {
            gap: 120px;            
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 0 auto;
        color: var(--light);
        width: 268px;

        @include tablet{
            margin-left: 0;
            width: 264px;
            align-items: start;
            padding: 0px;
        }
    }    
    &__logo {
        color: inherit;
    }    
    &__about-text {
        text-align: left;
    }

    &__title {
        @include font-medium;
        color: var(--white-background);
        margin-bottom: 16px;
    }
    &__social-list {
        @include display-flex-center-center;
        gap: 16px;

    }
    &__social-item {
        @include display-flex-center-center;
        background-color: var(--primary-brand);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:hover, &:focus {
            background-color: var(--success);
        }
    }
    &__social-link {
        line-height: 0;
    }
    
    &__subscribtion {
        display: flex;
        flex-direction: column;
    }
    &__subscribe-form {
        position: relative;
    }
    &__subscribe-label {
        position: absolute;
        @include font-small;
        left: 16px;
        top: 12px;
    }
    &__subscribe-input {
        border: 1px solid var(--light);
        border-radius: 4px;
        padding: 8px 16px;
        width: 100%;
    }
    &__subscribe-button {
        position: relative;
    }
    &__footer-subscribe-icon {
    }

}
